@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.hidden {
  display: none; }

html {
  font-size: 62.5%;
  overflow: hidden; }
  @media (min-width: 321px) {
    html {
      font-size: 68.75%; } }
  @media (min-width: 376px) {
    html {
      font-size: 75%; } }
  @media (min-width: 426px) {
    html {
      font-size: 81.25%; } }
  @media (min-width: 769px) {
    html {
      font-size: 87.5%; } }
  @media (min-width: 1025px) {
    html {
      font-size: 93.75%; } }

body {
  font-family: "Space Grotesk", sans-serif;
  height: 100vh; }

main {
  height: 100%; }

.container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      grid-template-columns: 1fr 2fr;
      margin: 1rem auto; } }

.top {
  background-image: url("/images/bg-main-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  @media (min-width: 576px) {
    .top {
      background-image: url("/images/bg-main-desktop.png");
      height: 100vh; } }

.card {
  width: 90%;
  margin: 2rem auto;
  position: relative;
  height: 100%; }
  .card-front {
    width: 80%;
    position: absolute;
    top: 40%;
    z-index: 2; }
    @media (min-width: 576px) {
      .card-front {
        left: 30%;
        top: 20%; } }
    .card-front img {
      width: 100%; }
    .card-front-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around; }
      .card-front-details .card-front-circle {
        display: flex;
        align-items: center;
        gap: 0.5rem; }
        .card-front-details .card-front-circle-dark {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: white; }
        .card-front-details .card-front-circle-light {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 0.1px solid white; }
      .card-front-details .card-front-card-number {
        color: white;
        text-align: center;
        width: 100%;
        letter-spacing: 0.2rem; }
      .card-front-details .card-front-cardholder-name-month-year {
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .card-front-details .card-front-cardholder-name-month-year .card-front-cardholder-name {
          letter-spacing: 0.2rem;
          text-transform: uppercase; }
        .card-front-details .card-front-cardholder-name-month-year .card-front-card-month {
          margin-left: auto; }
  .card-back {
    width: 80%;
    position: absolute;
    right: 1rem;
    z-index: 1; }
    @media (min-width: 576px) {
      .card-back {
        left: 50%;
        top: 50%; } }
    .card-back img {
      width: 100%; }
    .card-back-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem; }
      .card-back-details-cvv {
        position: absolute;
        right: 0;
        top: 43%;
        right: 13%;
        color: white; }

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem; }
  .bottom .input-card-details {
    margin-top: 1rem; }
    .bottom .input-card-details form {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      @media (min-width: 576px) {
        .bottom .input-card-details form {
          width: 80%;
          align-items: center;
          margin: 0 auto; } }
      @media (min-width: 700px) {
        .bottom .input-card-details form {
          width: 70%;
          align-items: center;
          margin: 0 auto; } }
      @media (min-width: 900px) {
        .bottom .input-card-details form {
          width: 50%;
          align-items: center;
          margin: 0 auto; } }
      .bottom .input-card-details form .form-group {
        margin-bottom: 1rem;
        position: relative;
        width: 100%; }
        .bottom .input-card-details form .form-group .error {
          position: absolute;
          bottom: -1.5rem;
          color: #ff5252; }
        .bottom .input-card-details form .form-group .error:nth-child(4) {
          left: 30%; }
        .bottom .input-card-details form .form-group .error:last-child {
          left: 60%; }
      .bottom .input-card-details form label {
        display: block;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5rem; }
      .bottom .input-card-details form input {
        width: 100%;
        padding: 1rem 0 1rem 1rem;
        border: 0.2px solid gray;
        border-radius: 1rem;
        outline: none; }
        .bottom .input-card-details form input::placeholder {
          color: #dedddf;
          font-size: 1.8rem;
          font-weight: 500;
          text-align: left; }
        .bottom .input-card-details form input:focus {
          border: 0.2px solid rebeccapurple; }
      .bottom .input-card-details form .form-group-multi-input {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 1rem; }
      .bottom .input-card-details form .btn {
        background-color: #21092f;
        color: white;
        outline: none;
        border: none;
        padding: 1rem 0;
        border-radius: 1rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        width: 100%;
        cursor: pointer; }
        .bottom .input-card-details form .btn:hover {
          background-color: rgba(33, 9, 47, 0.5); }
  .bottom .card-saved {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 2rem; }
    @media (min-width: 576px) {
      .bottom .card-saved {
        width: 80%;
        align-items: center;
        margin: 0 auto; } }
    @media (min-width: 700px) {
      .bottom .card-saved {
        width: 70%;
        align-items: center;
        margin: 0 auto; } }
    @media (min-width: 900px) {
      .bottom .card-saved {
        width: 50%;
        align-items: center;
        margin: 0 auto; } }
    .bottom .card-saved h2 {
      font-size: 2.5rem;
      text-transform: uppercase; }
    .bottom .card-saved h4 {
      font-size: 1.8rem;
      color: #8e8593; }
    .bottom .card-saved .btn {
      background-color: #21092f;
      color: white;
      outline: none;
      border: none;
      width: 100%;
      padding: 1rem 0;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 0.2rem; }
      .bottom .card-saved .btn:hover {
        background-color: rgba(33, 9, 47, 0.5); }
  .bottom .hidden {
    display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }
