@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

$Linear-gradient-active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$Red-input-errors: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (min-width: 321px) {
    font-size: 68.75%;
  }
  @media (min-width: 376px) {
    font-size: 75%;
  }
  @media (min-width: 426px) {
    font-size: 81.25%;
  }
  @media (min-width: 769px) {
    font-size: 87.5%;
  }
  @media (min-width: 1025px) {
    font-size: 93.75%;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
}

main {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
  width: 100%;
}

.top {
  background-image: url("/images/bg-main-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.card {
  width: 90%;
  margin: 2rem auto;
  position: relative;
  height: 100%;

  &-front {
    width: 80%;
    position: absolute;
    top: 50%;
    z-index: 2;
    img {
      width: 100%;
    }

    &-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      .card-front-circle {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &-dark {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: $White;
        }

        &-light {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 0.1px solid $White;
        }
      }
      .card-front-card-number {
        color: $White;
        text-align: center;
        width: 100%;
        letter-spacing: 0.2rem;
      }

      .card-front-cardholder-name-month-year {
        width: 100%;
        color: $White;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card-front-card-month {
          margin-left: auto;
        }
      }
    }
  }
  &-back {
    width: 80%;
    position: absolute;
    right: 1rem;
    z-index: 1;
    img {
      width: 100%;
    }

    &-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;

      &-cvv {
        position: absolute;
        right: 0;
        top: 43%;
        right: 13%;
        color: $White;
      }
    }
  }
}
